<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.6.1" />
    </startup>
  <appSettings>
    <add key="base" value ="DB_ESTUDO"/>
    <add key="servidor" value="TABATA-PC\SQLEXPRESS"/>
    <add key="usuario" value="sa"/>
    <add key ="senha" value ="barne"/>
  </appSettings>
</configuration>